<div class="transaction-summary">
    <div class="summary-header">
        {% if debtVariant %}
            Schuld vom {{ dto.created }}
        {% else %}
            Darlehen vom {{ dto.created }}
        {% endif %}
    </div>

    <div class="summary-info-filed">
        <div class="summary-info-filed-row">
            <div class="summary-info-filed-entry bold">
                {% if debtVariant %}
                    Darlehensgeber:
                {% else %}
                    Gläubiger:
                {% endif %}
            </div>
            <div class="summary-info-filed-entry">
                {% if dto.hasMultipleDebtors %}
                    <table class="table table-hover table-dark">
                        <tr>
                            {% for detail in dto.debtDtos %}
                                <th>{{ detail.owner.fullName }}</th>
                            {% endfor %}
                        </tr>
                    </table>
                {% else %}
                    {{ dto.transactionPartner }}
                {% endif %}
            </div>
        </div>
        <div class="summary-info-filed-row">
            <div class="summary-info-filed-entry bold">
                Initialer Betrag:
            </div>
            <div class="summary-info-filed-entry">
                {{ dto.initialAmount }} €
            </div>
        </div>
        <div class="summary-info-filed-row">
            <div class="summary-info-filed-entry bold">
                Aktueller Betrag:
            </div>
            <div class="summary-info-filed-entry">
                {{ dto.totalAmount }} €
            </div>
        </div>
        <div class="summary-info-filed-row">
            <div class="summary-info-filed-entry bold">
                Grund:
            </div>
            <div class="summary-info-filed-entry">
                {{ dto.reason }}
            </div>
        </div>
    </div>

    <div class="summary-transaction-details">
        {{ transaction_part_details(dto, true) | raw }}

        <div class="exchange-collapsable-row">

        <div class="exchange-collapsable {% if dto.exchangeDtos|length == 0 %}deactivated{% endif %}">
            <img src="{{ asset('assets/img/exchange.svg') }}" alt="Tile image"><span class="bold exchange-collapsable-text"># {{ dto.exchangeDtos|length }}</span>
        </div>
        </div>
    </div>


    <div class="exchange-list {{ exchangesElapsed }}">
        <div class="list-header">Verrechnungen</div>
    {% for exchangeDto in dto.exchangeDtos %}
        <div class="exchange-event">
            <div class="exchange-list-row">
                <div class="exchange-list-entry bold">Datum:</div>
                <div class="exchange-list-entry">{{ exchangeDto.created|date('d.m.Y')  }}</div>
            </div>
            <div class="exchange-list-row reason">
                <div class="exchange-list-entry bold">Schuld:</div>
                <div class="exchange-list-entry">{{ exchangeDto.exchangeReason  }} <a class="undecorated-link-text" href="{{ path('transaction_detail', {'slug': exchangeDto.exchangeSlug}) }}">(Details)</a></div>
            </div>

            <div class="exchange-event-visual-container">
                <div class="exchange-event-visual-amounts">
                    <span class="amount-before">{{ exchangeDto.amountBefore }}</span>
                    <div class="exchange-list-row-image">
                        <img src="{{ asset('assets/img/arrow-right.svg') }}" alt="Tile image">
                    </div>
                    <span class="paid-back-amount reason">{{ exchangeDto.amount  }} €</span>
                    <div class="exchange-list-row-image">
                        <img src="{{ asset('assets/img/arrow-right.svg') }}" alt="Tile image">
                    </div>
                    <span class="amount-after">{{ exchangeDto.remainingAmount }} €</span>
                </div>
                <div class="exchange-event-visual-users">
                    <span class="user1-name">{{ exchangeDto.from }}</span>
                    <span class="user2-name">{{ exchangeDto.to }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>