<div class="transaction-details body-element">
    <div class="transaction-state active {{ variantClass }}">
        <div class="state-icon active">
            <img src="{{ asset('assets/img/create.svg') }}" alt="Tile image">
        </div>
        <div class="state-date active">{{ created }}</div>
    </div>
    <div class="transaction-state {{ isAccepted }} {{ variantClass }}">
        <div class="state-icon {{ isAccepted }}">
            <img src="{{ asset('assets/img/icons/transaction/accept.svg') }}" alt="Tile image">
        </div>
        <div class="state-date {{ isAccepted }}">{{ accepted }}</div>
    </div>
    <div class="transaction-state {{ isCleared }} {{ variantClass }}">
        <div class="state-icon {{ isCleared }}">
            <img src="{{ asset('assets/img/paid.svg') }}" alt="Tile image">
        </div>
        <div class="state-date {{ isCleared }}">{{ cleared }}</div>
    </div>
    <div class="transaction-state {{ isConfirmed }} {{ variantClass }}">
        <div class="state-icon {{ isConfirmed }}">
            <img src="{{ asset('assets/img/party.svg') }}" alt="Tile image">
        </div>
        <div class="state-date {{ isConfirmed }}">{{ confirmed }}</div>
    </div>
</div>