<div class="content-card {% if part.isDebtVariant %}is-debt{% endif %}">
    <div class="card-header">
        <div class="row row-date">
            <div class="date">
                <div class="date-since">
                    {{ ago }}
                </div>
                <div class="date-plain">
                    ({{ part.edited|date("d.m.Y") }})
                </div>
            </div>
            <svg class="collapse-icon" viewBox="0 0 24 24">
                <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
            </svg>
        </div>
        <div class="row row-label ">
            <div class="label transparent-text">{{ part.reason }}</div>
        </div>
        <div class="row row-info">
            <div class="left-side-icon">@{{ part.transactionPartner }}</div>
            <div class="left-side-icon">{{ part.totalAmount }} &euro;</div>
            <div class="right-side-icon state-icon">
                <img src="{{ asset(cardIcon) }}" alt="Tile image">
            </div>
        </div>
    </div>
    <div class="card-body hidden">
        <div class="description body-element">
            {{ infoText}}
        </div>
        {{ transaction_part_details(part, true) | raw }}

        <div class="next-state-button body-element">
            {% if acceptLink != '' %}
            <a href="{{ path(acceptLink, {'slug': slug}) }}?variant=1" class="accept-link accept">
                <img src="{{ asset(acceptIcon) }}" alt="Button Image">
                <div class="next-state-button-text">{{ acceptButton }}</div>
            </a>
            {% endif %}
            {% if declineLink != '' %}
            <a href="{{ path(declineLink, {'slug': slug}) }}?variant=debtor" class="accept-link decline">
                <img class="" src="{{ asset(declineIcon) }}" alt="Button Image">
                <div class="next-state-button-text">{{ declineButton }}</div>
            </a>
            {% endif %}

{#            <button class="accept">#}
{#                <img src="{{ asset('assets/img/accept.svg') }}" alt="Button Image">#}
{#                <div class="next-state-button-text">Akzeptieren</div>#}
{#            </button>#}
{#            <button class="decline">#}
{#                <img class="rotate" src="{{ asset('assets/img/accept.svg') }}" alt="Button Image">#}
{#                <div class="next-state-button-text">Akzeptieren</div>#}
{#            </button>#}
        </div>
    </div>
</div>