{% extends 'base.html.twig' %}

{% block title %}Zahlungen hinzufügen{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            Zahlungen hinzufügen
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/icons/event/group.svg') }}" alt="Tile image">
        </div>
    </div>

    <div class="content-body">
        <h3>Event: {{ event.description }}</h3>
        <div class="form-area has-mb-m">
            {{ form_start(form, {'method': 'POST'}) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="form-input-field">
                <label class="hidden" for="create_event_payment_amount">Betrag</label>
                <div class="image-form-row">
                    <div class="image-form-row-image">
                        <img src="{{ asset('assets/img/coins.svg') }}" alt="Tile image">
                    </div>
                    {{ form_widget(form.amount, {'attr': {'data-type': "currency", 'class': 'form-style', 'id': 'amount', 'type': 'text', 'name': 'currency-field', 'placeholder':"1.000,00 €", 'value': ""}}) }}
                </div>
            </div>

            <div class="form-input-field">
                <label class="hidden" for="create_event_payment_reason">Grund</label>
                <div class="image-form-row">
                    <div class="image-form-row-image">
                        <img src="{{ asset('assets/img/reason.svg') }}" alt="Tile image">
                    </div>
                    {{ form_widget(form.reason, {'attr': {'class': 'form-style', 'placeholder': 'Grund', 'id': 'reason'}}) }}
                </div>
            </div>

            {{ render_group_fields(event) | raw }}




            {{ form_row(form.debtors, {'attr': {'class': 'hidden'}}) }}


            {{ form_row(form._token) }}
            <div class="form-submit-field">
                {{ form_widget(form.submit, {'attr': {'class': 'btn'}}) }}
            </div>

            <a href="{{ path('event_show', {groupEvent: event.id}) }}" class="form-submit-field decline btn plain-link">
                <div class="next-state-button-text">Abbrechen</div>
            </a>
        </div>


    </div>

{% endblock %}
