{% extends 'base.html.twig' %}

{% block title %}Event erstellen{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            Event erstellen
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/icons/transfer/bank-account.svg') }}" alt="Tile image">
        </div>
    </div>

    <div class="content-body">
        <div class="form-area has-mb-m">
            {{ form_start(form, {'method': 'POST'}) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="form-input-field">
                <label class="hidden" for="init_group_event_description"></label>
                <div class="image-form-row">
                    <div class="image-form-row-image">
                        <img src="{{ asset('assets/img/description.svg') }}" alt="Tile image">
                    </div>
                    {{ form_widget(form.description, {'attr': {'class': 'form-style', 'placeholder': 'Beschreibung', 'id': 'description'}}) }}
                </div>
            </div>

            <div class="form-input-field">
                <label class="hidden" for="init_group_event_open"></label>
                <div class="image-form-row">
                    <div class="image-form-row-image">
                        <img src="{{ asset('assets/img/icons/transfer/activated.svg') }}" alt="Tile image">
                    </div>
                    <div class="toggle-switch-container">
                        <label class="switch">
                            {{ form_widget(form.open, {'attr': {'class': 'toggle-box', 'placeholder': 'Offen', 'id': 'open'}}) }}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="user-selection">
                <div class="options-panel">
                    <h3>Wer war dabei?</h3>
                    <ul class="user-list">
                        {% for user in allUsers %}
                            <li class="user-option" data-value="{{ user.id }}">{{ user.fullName }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="selected-panel">
                    <h3>Ausgewählte User</h3>
                    <ul class="user-list">
                        {% for user in form.selectedUsers %}
                            <li class="selected-user" data-value="{{ user.id }}">{{ user.fullName }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {{ form_row(form.selectedUsers, {'attr': {'class': 'hidden'}}) }}


            {{ form_row(form._token) }}
            <div class="form-submit-field">
                {{ form_widget(form.submit, {'attr': {'class': 'btn'}}) }}
            </div>

            <a href="{{ path('payment_overview') }}" class="form-submit-field decline btn plain-link">
                <div class="next-state-button-text">Abbrechen</div>
            </a>
        </div>
    </div>

    <script>

    </script>

{% endblock %}
