{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block body %}
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item-own">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>Ein</span> Schritt noch</h2>

                                {{ form_start(form, {'method': 'POST'}) }}
                                <div class="my-custom-class-for-errors">
                                    {{ form_errors(form) }}
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div>
                                            {{ form_label(form.username, 'Benutzername', {'label_attr': {'class': 'h2'}}) }}
                                        </div>
                                        {{ form_widget(form.username, {'attr': {'class': 'earch-form input'}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="col">
                                        {{ form_label(form.password, 'Passwort', {'label_attr': {'class': 'h2'}}) }}
                                        {{ form_widget(form.password, {'attr': {'class': 'earch-form input'}}) }}
                                        {{ form_help(form.password) }}
                                    </div>
                                    <br>
                                    <div class="col">
                                        <div>
                                            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'h2'}}) }}
                                        </div>
                                        {{ form_widget(form.email, {'attr': {'class': 'earch-form input'}}) }}
                                    </div>
                                    <br>

                                    <div class="col">
                                        <div>
                                            {{ form_label(form.firstName, 'Vorname', {'label_attr': {'class': 'h2'}}) }}
                                        </div>
                                        {{ form_widget(form.firstName, {'attr': {'class': 'earch-form input'}}) }}
                                    </div>
                                    <br>

                                    <div class="col">
                                        <div>
                                            {{ form_label(form.lastName, 'Nachname', {'label_attr': {'class': 'h2'}}) }}

                                            {{ form_widget(form.lastName, {'attr': {'class': 'earch-form input'}}) }}
                                        </div>
                                        <br>
                                    </div>

                                    {{ form_row(form._token) }}
                                    {{ form_widget(form.submit, {'attr': {'class': 'site-btn'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
