{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block body %}
    <div class="top-navi">
        <div></div>
        <button id="burger" class="open-main-nav">
            <span class="burger"></span>
            <span class="burger-text">Menu</span>
        </button>
        <nav class="main-nav" id="main-nav">
            <ul>
                <li>
                    <a href="#">About me</a>
                </li>
                <li>
                    <a href="#">Speaker &amp; Writer</a>
                </li>
                <li>
                    <a href="#">Work</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tab-nav">
        <button class="tab-button link" data-tab="tab-1" data-name="Login" data-link="{{ path('app_login') }}"
                data-image="{{ asset('assets/img/login.svg') }}"></button>
        <button class="tab-button active" data-tab="tab-2" data-name="Registieren"
                data-image="{{ asset('assets/img/registration.svg') }}"></button>
    </div>

    <div class="page-header">
        <div class="page-header-text">
            Konten
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/login.svg') }}" alt="Tile image">
        </div>

    </div>


    <div class="content-body">

        <div id="tab-1" class="tab">

        </div>


        <div id="tab-2" class="tab active">
            <div class="empty-list-info font-size-1-2">Eine gute Entscheidung dabei zu sein</div>

            <div class="form-area">
                {{ form_start(registrationForm, {'method': 'POST'}) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(registrationForm) }}
                </div>
                <div class="form-input-field">
                    <label class="hidden" for="user_username"></label>
                    <div class="image-form-row">
                        <div class="image-form-row-image">
                            <img src="{{ asset('assets/img/person.svg') }}" alt="Tile image">
                        </div>
                        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-style', 'placeholder': 'Username', 'id': 'username'}}) }}
{#                        <input class="form-style" type="text" id="registration-username" placeholder="Username">#}
                    </div>
                </div>
                {#                    <div class="form-input-field"> #}
                {#                        <label class="hidden" for="registration-password-1"></label> #}
                {#                        <div class="image-form-row"> #}
                {#                            <div class="image-form-row-image"> #}
                {#                                <img src="public/assets/img/password.svg" alt="Tile image"> #}
                {#                            </div> #}
                {#                            <input class="form-style" type="password" id="registration-password-1" placeholder="Passwort"> #}
                {#                        </div> #}
                {#                    </div> #}
                <div class="form-input-field">
                    <label class="hidden" for="user_password">Passwort</label>
                    <div class="image-form-row">
                        <div class="image-form-row-image">
                            <img src="{{ asset('assets/img/password.svg') }}" alt="Tile image">
                        </div>
                        {{ form_widget(registrationForm.password, {'attr': {'class': 'form-style', 'id': 'password'}}) }}

{#                        <input class="form-style" type="password" id="registration-password-2"#}
{#                               placeholder="Passwort wiederholen">#}
                    </div>
                </div>
                <div class="form-input-field">
                    <label class="hidden" for="user_email"></label>
                    <div class="image-form-row">
                        <div class="image-form-row-image">
                            <img src="{{ asset ('assets/img/email.svg') }}" alt="Tile image">
                        </div>
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-style', 'placeholder':'Email', 'id': 'email'}}) }}
{#                        <input class="form-style" type="email" id="registration-email" placeholder="Email">#}
                    </div>
                </div>
                {{ form_row(registrationForm._token) }}

                <div class="form-submit-field">
                    {{ form_widget(registrationForm.submit, {'attr': {'class': 'site-btn'}}) }}
                    {#                        <input class="btn" type="submit" value="Registrieren"> #}
                </div>
                {#                </form> #}
            </div>
        </div>

    </div>


    {#    <section class="hero-section"> #}
    {#        <div class="hero-slider owl-carousel"> #}
    {#            <div class="hs-item-own"> #}
    {#                <div class="container"> #}
    {#                    <div class="row"> #}
    {#                        <div class="col-lg-6"> #}
    {#                            <div class="hs-text"> #}
    {#                                <h2><span>Ein</span> Schritt noch</h2> #}

    {#                                {{ form_start(form, {'method': 'POST'}) }} #}
    {#                                <div class="my-custom-class-for-errors"> #}
    {#                                    {{ form_errors(form) }} #}
    {#                                </div> #}

    {#                                <div class="row"> #}
    {#                                    <div class="col"> #}
    {#                                        <div> #}
    {#                                            {{ form_label(form.username, 'Benutzername', {'label_attr': {'class': 'h2'}}) }} #}
    {#                                        </div> #}
    {#                                        {{ form_widget(form.username, {'attr': {'class': 'earch-form input'}}) }} #}
    {#                                    </div> #}
    {#                                </div> #}
    {#                                <div class="row"> #}
    {#                                    <br> #}
    {#                                    <div class="col"> #}
    {#                                        {{ form_label(form.password, 'Passwort', {'label_attr': {'class': 'h2'}}) }} #}
    {#                                        {{ form_widget(form.password, {'attr': {'class': 'earch-form input'}}) }} #}
    {#                                        {{ form_help(form.password) }} #}
    {#                                    </div> #}
    {#                                    <br> #}
    {#                                    <div class="col"> #}
    {#                                        <div> #}
    {#                                            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'h2'}}) }} #}
    {#                                        </div> #}
    {#                                        {{ form_widget(form.email, {'attr': {'class': 'earch-form input'}}) }} #}
    {#                                    </div> #}
    {#                                    <br> #}

    {#                                    <div class="col"> #}
    {#                                        <div> #}
    {#                                            {{ form_label(form.firstName, 'Vorname', {'label_attr': {'class': 'h2'}}) }} #}
    {#                                        </div> #}
    {#                                        {{ form_widget(form.firstName, {'attr': {'class': 'earch-form input'}}) }} #}
    {#                                    </div> #}
    {#                                    <br> #}

    {#                                    <div class="col"> #}
    {#                                        <div> #}
    {#                                            {{ form_label(form.lastName, 'Nachname', {'label_attr': {'class': 'h2'}}) }} #}

    {#                                            {{ form_widget(form.lastName, {'attr': {'class': 'earch-form input'}}) }} #}
    {#                                        </div> #}
    {#                                        <br> #}
    {#                                    </div> #}

    {#                                    {{ form_row(form._token) }} #}
    {#                                    {{ form_widget(form.submit, {'attr': {'class': 'site-btn'}}) }} #}
    {#                                </div> #}
    {#                            </div> #}
    {#                        </div> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}
    {#        </div> #}
    {#    </section> #}

{% endblock %}
