{# templates/login/account_overview.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="tab-nav">
        <button class="tab-button active" data-tab="tab-1" data-name="Login"
                data-image="{{ asset('assets/img/login.svg') }}"></button>
        <button class="tab-button link" data-tab="tab-2" data-name="Registrieren" data-link="{{ path('registration') }}"
                data-image="{{ asset('assets/img/registration.svg') }}"></button>
    </div>

    <div class="page-header">
        <div class="page-header-text">
            Login
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/login.svg') }}" alt="Tile image">
        </div>

    </div>


    <div class="content-body">

        <div id="tab-1" class="tab active">
            {% if last_username %}

                <div class="empty-list-info font-size-1-2">Willkommen zurück {{ last_username }}</div>

            {% else %}
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="empty-list-info font-size-1-2">Willkommen zurück</div>

                <div class="form-area">
                    <form action="{{ path('app_login') }}" method="post">
                        <div class="form-input-field">
                            <label class="hidden" for="username">Email:</label>
                            <div class="image-form-row">
                                <div class="image-form-row-image">
                                    <img src="{{ asset('assets/img/person.svg') }}" alt="Tile image">
                                </div>
                                <input class="form-style" type="text" id="username" name="_username"
                                       value="{{ last_username }}" placeholder="Username">
                            </div>
                        </div>

                        <div class="form-input-field">
                            <div class="image-form-row">

                                <label class="hidden" for="password">Password:</label>
                                <div class="image-form-row-image">
                                    <img src="{{ asset('assets/img/password.svg') }}" alt="Tile image">
                                </div>
                                <input class="form-style" type="password" id="password" name="_password"
                                       placeholder="Passwort">
                            </div>
                        </div>
                        <button class="btn" type="submit">login</button>
                    </form>
                </div>
            {% endif %}


            {# If you want to control the URL the user is redirected to on success
{#        <input type="hidden" name="_target_path" value="/account"> #}


        </div>
    </div>
{% endblock %}