{% extends 'base.html.twig' %}

{% block title %}Hello TransferController!{% endblock %}

{% block body %}
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item-own">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                <h2><span>Zahl es</span> zurück!</h2>

                                {% include 'base.info.html.twig' %}


                                <p>Über welche Zahlungsmethode möchtest du das Geld überweisen?</p>

                                {{ form_start(form, {'method': 'POST'}) }}
                                <div class="my-custom-class-for-errors">
                                    {{ form_errors(form) }}
                                </div>

                                <table class="table table-hover">
                                    <tr>
                                        <th><p>Kontoauswahl: </p></th>
                                        <td>{{ form_widget(form.paymentOption, {'attr': {'class': 'earch-form input'}}) }}</td>
                                    </tr>
                                </table>

                                {{ form_row(form._token) }}
                                {{ form_widget(form.submit, {'attr': {'class': 'site-btn loan'}}) }}
                                {{ form_widget(form.decline, {'attr': {'class': 'site-btn debt'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}

