{% extends 'base.html.twig' %}

{% block title %}Banküberweisung{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="page-header-text">
            Banküberweisung
        </div>
        <div class="page-header-image">
            <img src="{{ asset('assets/img/bank-account.svg') }}" alt="Tile image">
        </div>
    </div>

    <div class="content-body">
        <div class="empty-list-info text-small">
            Kopiere die Daten einfach in die entsprechenden Felder deines Online-Bankings
        </div>

        <div class="bank-transfer-details">
            <div class="bank-transfer-line">
                <div class="bank-transfer-row ">
                    <div class="bank-transfer-row-icon">
                        <img src="{{ asset('assets/img/iban.svg') }}" alt="Tile image">
                    </div>
                    <div class="bank-transfer-row-date">IBAN</div>
                </div>
                <div class="bank-transfer-row-copy">
                    <div class="bank-transfer-row-copy-value" id="iban-value">{{ dto.iban }}</div>
                    <div class="bank-transfer-row-copy-button" id="iban-copy">Copy</div>
                </div>
            </div>
            <div class="bank-transfer-line">

                <div class="bank-transfer-row">
                    <div class="bank-transfer-row-icon">
                        <img src="{{ asset('assets/img/bank-account.svg') }}" alt="Tile image">
                    </div>
                    <div class="bank-transfer-row-date">BIC</div>
                </div>
                <div class="bank-transfer-row-copy">
                    <div class="bank-transfer-row-copy-value" id="bic-value">{{ dto.bic }}</div>
                    <div class="bank-transfer-row-copy-button" id="bic-copy">Copy</div>
                </div>
            </div>
            <div class="bank-transfer-line">

                <div class="bank-transfer-row">
                    <div class="bank-transfer-row-icon">
                        <img src="{{ asset('assets/img/person.svg') }}" alt="Tile image">
                    </div>
                    <div class="bank-transfer-row-date">Kontoinhaber</div>
                </div>
                <div class="bank-transfer-row-copy">
                    <div class="bank-transfer-row-copy-value" id="owner-value">{{ dto.bankOwner }}</div>
                    <div class="bank-transfer-row-copy-button" id="owner-copy">Copy</div>
                </div>
            </div>
            <div class="bank-transfer-line">

                <div class="bank-transfer-row">
                    <div class="bank-transfer-row-icon">
                        <img src="{{ asset('assets/img/coins.svg') }}" alt="Tile image">
                    </div>
                    <div class="bank-transfer-row-date">Betrag</div>
                </div>
                <div class="bank-transfer-row-copy">
                    <div class="bank-transfer-row-copy-value" id="amount-value">{{ dto.amount }} €</div>
                    <div class="bank-transfer-row-copy-button" id="amount-copy">Copy</div>
                </div>
            </div>
            <div class="bank-transfer-line">

                <div class="bank-transfer-row">
                    <div class="bank-transfer-row-icon">
                        <img src="{{ asset('assets/img/reason.svg') }}" alt="Tile image">
                    </div>
                    <div class="bank-transfer-row-date">Grund</div>
                </div>
                <div class="bank-transfer-row-copy">
                    <div class="bank-transfer-row-copy-value" id="reason-value">{{ dto.reason }}</div>
                    <div class="bank-transfer-row-copy-button" id="reason-copy">Copy</div>
                </div>
            </div>
        </div>
        <div class="form-area has-mb-m">
            Hast du deine Überweisung erfolgreich getätigt und möchtest die Schuld als bezahlt markieren?
            {{ form_start(form, {'method': 'POST'}) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            {{ form_row(form._token) }}
            <div class="form-submit-field">
                {{ form_widget(form.submit, {'attr': {'class': 'btn'}}) }}
            </div>
            <div class="form-submit-field">
                {{ form_widget(form.decline, {'attr': {'class': 'btn'}}) }}
            </div>
        </div>
    </div>

{% endblock %}

