<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DEBES 2.0{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('form') }}
        {{ encore_entry_link_tags('navi') }}
        {{ encore_entry_link_tags('tab') }}
        {{ encore_entry_link_tags('account_landing') }}
        {{ encore_entry_link_tags('transaction-part-content-card') }}
        {{ encore_entry_link_tags('transaction-handling') }}
        {{ encore_entry_link_tags('group-event') }}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.3/leader-line.min.js" crossorigin="anonymous"></script>#}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('form') }}
        {{ encore_entry_script_tags('navi') }}
        {{ encore_entry_script_tags('tab') }}
        {{ encore_entry_script_tags('account_landing') }}
        {{ encore_entry_script_tags('transaction-part-content-card') }}
        {{ encore_entry_script_tags('content-card') }}
        {{ encore_entry_script_tags('transaction-handling') }}
        {{ encore_entry_script_tags('group-event') }}
    {% endblock %}
</head>
<body>
<div class="body-container">

{% include 'navi.html.twig' %}
{# read and display several types of flash messages #}
<div id="flash-message-container">
{% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="flash-{{ label }} flash-message">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
</div>

{% block body %}{% endblock %}
{% include 'footer.html.twig' %}
</div>

</body>
</html>
