
<div class="top-navi">
    <div class="top-navi-left">
        <div class="navi-favicon">
            <img src="{{ asset('favicon.ico') }}" alt="Tile image">

        </div>
    {{ navi_button() | raw }}
{#        <button id="home-button" class="link" data-link="{{ path('account_overview') }}"#}
{#                data-image="{{ asset('assets/img/home.svg') }}">#}
{#        </button>#}
{#        <div class="home-button">#}
{#            <img src="{{ asset('assets/img/registration.svg') }}" alt="Tile image">#}
{#        </div>#}

    </div>

    <button id="burger" class="open-main-nav">
        <span class="burger"></span>
        <span class="burger-text">Menu</span>
    </button>
    <nav class="main-nav" id="main-nav">
        <ul>
            <li>
                <a href="{{path('app_home')}}">Home</a>
            </li>
            <li>
                <a href="https://wh-company.de">About</a>
            </li>
            <li>
                <a href="{{path('app_logout')}}">Logout</a>
            </li>
        </ul>
    </nav>
</div>