<div class="top-navi top-navi-with-tabs">
    <div>
        <div class="account-landing-header">
            Hallo User
        </div>
{#        <button id="home-button" class="link" data-link="{{ path('account_overview') }}"#}
{#                data-image="{{ asset('assets/img/home.svg') }}">#}
{#        </button>#}
{#        <div class="home-button">#}
{#            <img src="{{ asset('assets/img/registration.svg') }}" alt="Tile image">#}
{#        </div>#}
        <div class="home-button-container">
        <a href="{{ path('account_overview') }}" class="home-button">
            <img src="{{ asset('assets/img/home.svg') }}" alt="Tile image">
        </a>
        </div>
    </div>
    <button id="burger" class="open-main-nav">
        <span class="burger"></span>
        <span class="burger-text">Menu</span>
    </button>
    <nav class="main-nav" id="main-nav">
        <ul>
            <li>
                <a href="#">About me</a>
            </li>
            <li>
                <a href="#">Speaker &amp; Writer</a>
            </li>
            <li>
                <a href="#">Work</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="{{path('app_logout')}}">Logout</a>
            </li>
        </ul>
    </nav>
</div>