{% extends 'base.html.twig' %}

{% block title %}Hello LandingController!{% endblock %}

{% block body %}
    <html lang="de">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Link zur CSS-Datei -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
        <title>Debes - Übersicht</title>
    </head>
    <body>

    <div class="tile-container">
        <a href="{{ path('transaction_create_simple') }}" class="tile" data-url="{{ path('transaction_create_simple') }}" data-caption="">
            <img src="{{ asset('assets/img/claim2.svg') }}" alt="Tile image">
        </a>
        <a href="{{ path('payment_overview') }}" class="tile" data-url="{{ path('payment_overview') }}" data-caption="">
            <img src="{{ asset('assets/img/icons/transfer/bank-account.svg') }}" alt="Tile image">
        </a>
    </div>

    <div class="content-body">
        <div>
            <h1>Todos</h1>
            <h2>Vor Release: </h2>
            <ul>
                <li>Exchange: State sollte statt nur auf bezahlt direkt auf abgeschlossen springen</li>
                <li>Einlesen legacy DB -> edited für alle letzen Events nehmen</li>
                <li>Icon mit DEBES Logo</li>
                <li>Menü Links anpassen</li>
                <li>Test-Lauf</li>
            </ul>

            <h2>Future: </h2>
            <ul>
                <li>Templates aufräumen</li>
                <li>Code aufräumen</li>
                <li>Mailing-Service auf Events umstellen</li>
                <li>Sentry einziehen</li>
                <li>Feature: Zinsen</li>
                <li>Feature: Profil-Einstellungen: auto-accept, confirm, exchange</li>
                <li>Feature: Filter auf Übersichtsseiten: Nach Usern, Höhe Betrag, Datum...</li>
                <li>Feature: Benutzergruppen: Nicht jeder User soll jeden anderen sehen</li>
                <li>Feature: Anonyme Nutzer zum Verwalten der eigenen Schulden</li>
            </ul>
        </div>

        <div class="statistics">
            <div id="balance_area" class="balance balance-hidden">
                <div class="balance-header">
                    <div class="balance-text-number">
                        <div class="balance-text">Balance</div>
                        <div class="balance-number">
                            <p><span id="total_balance">442,54</span> &euro;</p>
                        </div>
                    </div>

                    <div class="balance-image">
                        <img id="balance_image" class="{% if totalBalance <= 0%}mirrored svg-icon-fill-negative{% endif %}" src="{{ asset('assets/img/up-trend.svg') }}" alt="Image description" width="60" height="60">
                    </div>
                </div>

            </div>


            <div class="info-container">
                <div class="balance-part">
                    <div class="balance-part-header">
                        <div class="balance-part-header-element">Verliehen</div>
                        <div class="part-balance-part-header-element-image">
                            <img src="{{ asset('assets/img/up-trend.svg') }}" alt="Image description" width="30" height="30">
                        </div>
                    </div>
                    <div class="balance-part-total">
                        <p><span id="total_loans">{{ totalLoan }}</span> &euro;</p>
                    </div>
                    <div class="balance-part-summary">
                        <a href="{{ path('account_loans') }}?variant=new" class="balance-part-detail-header">
                            <div class="balance-part-detail-header-variant">Offen:</div>
                            <div class="balance-part-detail-header-amount">{{ openLoans }}</div>
                        </a>
                        <a href="{{ path('account_loans') }}?variant=accepted" class="balance-part-detail-header">
                            <div class="balance-part-detail-header-variant">Akzeptiert:</div>
                            <div class="balance-part-detail-header-amount">{{ acceptedLoans }}</div>
                        </a>
                    </div>
                </div>

                <div class="balance-part">
                    <div class="balance-part-header">
                        <div class="balance-part-header-element">Geborgt</div>
                        <div class="part-balance-part-header-element-image">
                            <img class="mirrored" src="{{ asset('assets/img/up-trend.svg') }}" alt="Image description" width="30" height="30">
                        </div>

                    </div>
                    <div class="balance-part-total balance-negative">
                        <p><span id="total_debts">{{ totalDebt }}</span> &euro;</p>
                    </div>
                    <div class="balance-part-summary">
                        <a href="{{ path('account_debts') }}?variant=new" class="balance-part-detail-header negative">
                            <div class="balance-part-detail-header-variant">Offen:</div>
                            <div class="balance-part-detail-header-amount">{{ openDebts }}</div>
                        </a>
                        <a href="{{ path('account_debts') }}?variant=accepted" class="balance-part-detail-header negative">
                            <div class="balance-part-detail-header-variant">Akzeptiert:</div>
                            <div class="balance-part-detail-header-amount">{{ acceptedDebts }}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 10px; margin-top: 10px;">
            Newest Ones
            {% for part in transactions%}
                {{ transaction_part_content_card(part) |raw }}
            {% endfor %}
        </div>

    </div>

    <script src="content-card.js"></script>
    </body>
    </html>

    {#    <section class="hero-section">#}
{#        <div class="hero-slider owl-carousel">#}
{#            <div class="hs-item">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6">#}
{#                            <div class="hs-text">#}
{#                                <h2><span>Kredite</span> vergeben</h2>#}
{#                                <p>Behalte die Übersicht über Geld, das du Freunden und Verwandten geliehen hast. </p>#}
{#                                <a href="{{ path('app_login') }}" class="site-btn">Einloggen</a>#}
{#                                <a href="{{path('registration')}}" class="site-btn sb-c2">Registrieren</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-6">#}
{#                            <div class="hr-img">#}
{#                                <img src="{{ asset ('img/money.png') }}" alt="">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="hs-item">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6">#}
{#                            <div class="hs-text">#}
{#                                <h2><span>Schulden </span> organisieren.</h2>#}
{#                                <p>Du weißt nicht mehr wie viel du wem für den letzten Saufabend mit deinen Kumpels schuldest? Kein Problem! Die Server von Debes verlieren ihr Gedächtnis nicht nach Alkoholkonsum.</p>#}
{#                                <a href="#" class="site-btn">Download Now</a>#}
{#                                <a href="#" class="site-btn sb-c2">Start free trial</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-lg-6">#}
{#                            <div class="hr-img">#}
{#                                <img src="{{ asset ('img/obelix.jpg') }}" alt="">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{% endblock %}
