{% extends 'base.html.twig' %}

{% block title %}Schuld begleichen{% endblock %}

{% block body %}
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debes - Schuld begleichen</title>
</head>
<body>

<div class="tile-container">

</div>

<div class="content-body">
    {{ transaction_part_summary(dto) | raw }}
    <div class="form-area">
        {% if debtVariant %}
            Möchtest du das Geld jetzt überweisen?
        {% else %}
            Die Überweisung lässt seit Tagen auf sich warten
        {% endif %}

        {{ form_start(form, {'method': 'POST'}) }}
        {{ form_row(form._token) }}
    {% if debtVariant %}
            <div class="form-submit-field">
                {{ form_widget(form.submit, {'attr': {'class': 'btn'}}) }}
            </div>
            <div class="form-submit-field">
                {{ form_widget(form.decline, {'attr': {'class': 'btn'}}) }}
            </div>
    {% else %}

        <div class="form-submit-field">
            {{ form_widget(form.submit, {'attr': {'class': 'btn'}}) }}
        </div>
    {% endif %}
</div>
</div>
{% endblock %}
