{% extends 'base.html.twig' %}

{% block title %}Schuld begleichen{% endblock %}
{% block body %}
<div class="tab-nav">
    <button class="tab-button {{ tabClasses[0] }} " data-tab="tab-1" data-name="Bank"
            data-image="{{ asset('assets/img/icons/transfer/bank-account.svg') }}">
    </button>
    <button class="tab-button {{ tabClasses[1] }}" data-tab="tab-2" data-name="Paypal"
            data-image="{{ asset('assets/img/paypal-account.svg') }}">
    </button>
    <button class="tab-button {{ tabClasses[2] }}" data-tab="tab-3" data-name="Verrechnung"
            data-image="{{ asset('assets/img/exchange.svg') }}">
    </button>
</div>
<div class="page-header">
    <div class="page-header-text">
        {{ tabName }}
    </div>
    <div class="page-header-image">
        <img src="{{ asset(icon) }}" alt="Tile image">
    </div>
</div>
<div class="content-body">
    <div id="tab-1" class="tab {{ tabClasses[0] }}">
        {% if showBank %}
            {{ transfer_bank(dto, bankForm) | raw }}
        {% else %}
        <div class="empty-list-info">
            Der Kreditgeber besitzt leider kein Bankkonto oder möchte sein Geld nicht dorthin überwiesen haben!
        </div>
        {% endif %}
    </div>
    <div id="tab-2" class="tab {{ tabClasses[1] }}">
        {% if showPaypal %}
            {{ transfer_paypal(dto, paypalForm) | raw }}
        {% else %}
        <div class="empty-list-info">
            Der Kreditgeber besitzt leider kein Paypal oder möchte sein Geld nicht dorthin überwiesen haben!
        </div>
        {% endif %}
    </div>
    <div id="tab-3" class="tab {{ tabClasses[2] }}">
        {% if showExchange %}
            {{ transfer_exchange(dto, exchangeForm) | raw }}
        {% else %}
        <div class="empty-list-info">
            Der Kreditgeber hat keine Schulden bei dir, mit denen man eine Verrechnung durchführen könnte!
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}