{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
    <section class="hero-section">

        <div class="hero-slider owl-carousel">
            <div class="hs-item-own">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hs-text">
                                {% include 'base.info.html.twig' %}

                                {% if debtVariant %}
                                    <h2><span>Schuld vom</span></h2><h2> {{ dto.created }}</h2>
                                {% else %}
                                    <h2><span>Darlehen vom</span></h2><h2> {{ dto.created }}</h2>
                                {% endif %}

{#                                <table class="table table-hover table-dark">#}
{#                                    <tr>#}
{#                                        {% if debtVariant %}#}
{#                                            <th scope="col">Darlehensgeber</th>#}
{#                                            {% if dto.hasMultipleDebtors %}#}
{#                                                <table class="table table-hover table-dark">#}
{#                                                    <tr>#}
{#                                                        {% for detail in dto.transactionPartnersDetails %}#}
{#                                                            <th>{{ detail }}</th>#}
{#                                                        {% endfor %}#}
{#                                                    </tr>#}
{#                                                </table>#}
{#                                            {% else %}#}
{#                                                {{ dto.transactionPartners }}#}
{#                                            {% endif %}#}
{#                                        {% else %}#}
{#                                            <th scope="col">Gläubiger</th>#}
{#                                        {% endif %}#}
{#                                        <td>{{ dto.transactionPartners }}</td>#}
{#                                    </tr>#}

{#                                    <tr>#}
{#                                        <th scope="col">Betrag</th>#}
{#                                        <td>{{ dto.amount }} €</td>#}
{#                                    </tr>#}

{#                                    <tr>#}
{#                                        <th scope="col">Grund</th>#}
{#                                        <td>{{ dto.reason }}</td>#}
{#                                    </tr>#}


{#                                </table>#}

{#                                {% if debtVariant %}#}
{#                                    <p>Akzeptierst du die Schuld?</p>#}
{#                                {% else %}#}
{#                                    <p>{{ dto.transactionPartners }} hat das Darlehen noch nicht akzeptiert. Möchtest du es zurückziehen?</p>#}
{#                                {% endif %}#}


                                {% if debtVariant %}
                                    {{ form_start(form, {'method': 'POST'}) }}
                                    {{ form_row(form._token) }}
                                    {{ form_widget(form.submit, {'attr': {'class': 'site-btn loan'}}) }}
                                    {{ form_widget(form.decline, {'attr': {'class': 'site-btn debt'}}) }}
                                {% else %}
                                    {{ form_start(form, {'method': 'POST'}) }}
                                    {{ form_row(form._token) }}
                                    {{ form_widget(form.submit, {'attr': {'class': 'site-btn debt'}}) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
