<div class="extra-page-header {{ headerClass }}">
    {% if debtVariant %}
        Schulden
    {% else %}
        Verliehen
    {% endif %}
    <div class="extra-page-header-image">
        {% if debtVariant %}
            {% set target = 'account_loans' %}
        {% else %}
            {% set target = 'account_debts' %}
        {% endif %}
        <a href="{{ path(target) }}">
            <img class="{{ headerClass }}" src="{{ asset('assets/img/switch.svg') }}" alt="Tile image">
        </a>
    </div>

</div>
<div class="tab-nav ">
    <button class="tab-button {{ headerClass }} {{ tabClasses[0] }} " data-tab="tab-1" data-name="Neu" data-image="{{ asset('assets/img/create.svg') }}">
    </button>
    <button class="tab-button {{ headerClass }} {{ tabClasses[1] }}" data-tab="tab-2" data-name="Akzeptiert" data-image="{{ asset('assets/img/accept.svg') }}">
    </button>
    <button class="tab-button {{ headerClass }} {{ tabClasses[2] }}" data-tab="tab-3" data-name="Bezahlt" data-image="{{ asset('assets/img/paid.svg') }}"></button>
    <button class="tab-button {{ headerClass }} {{ tabClasses[3] }}" data-tab="tab-4" data-name="Erledigt" data-image="{{ asset('assets/img/party.svg') }}"></button>
</div>
<div class="page-header {{ headerClass }}">
    <div class="page-header-text">
        Neu
    </div>
    <div class="page-header-image">
        <img src="{{ asset('assets/img/create.svg') }}" alt="Tile image">
    </div>
</div>
<div class="content-body">
       <div id="tab-1" class="tab {{ tabClasses[0] }}">
           {% if  ready|length == 0%}
               <div class="empty-list-info">
                   Hier werden alle neuen von dir noch nicht akzeptierte Transaktionen angezeigt. Momentan hast du keine Transaktionen dieser Art!
               </div>
           {% endif %}
           {% for part in ready%}
               {{ transaction_part_content_card(part) |raw }}
           {% endfor %}
    </div>

    <div id="tab-2" class="tab {{ tabClasses[1] }}">
        {% if  accepted|length == 0%}
            <div class="empty-list-info">
                Hier werden alle bereits akzeptierten, aber von dir noch nicht getilgte Transaktionen angezeigt. Momentan hast du keine Transaktionen dieser Art!
            </div>
        {% endif %}
        {% for part in accepted%}
            {{ transaction_part_content_card(part) |raw }}
        {% endfor %}
    </div>

    <div id="tab-3" class="tab {{ tabClasses[2] }}">
        {% if  cleared|length == 0%}
        <div class="empty-list-info">
            Hier werden bereits bezahlte, aber von dir noch nicht kontrollierte Transaktionen angezeigt. Momentan hast du keine Transaktionen dieser Art!
        </div>
        {% endif %}
        {% for part in cleared%}
            {{ transaction_part_content_card(part) |raw }}
        {% endfor %}
    </div>

    <div id="tab-4" class="tab {{ tabClasses[3] }}">
        {% if  confirmed|length == 0%}
            <div class="empty-list-info">
                Hier werden alle komplett abgeschlossen Transaktionen angezeigt. Momentan hast du keine Transaktionen dieser Art!
            </div>
        {% endif %}
        {% for part in confirmed%}
            {{ transaction_part_content_card(part) |raw }}
        {% endfor %}
    </div>
</div>