<table>
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td class="counter-text">
                        <span class="num">{{ problems }}</span>
                        <span class="name">Probleme mit diesem Nutzer</span>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table width="100%">
                <tr>
                    <td class="counter-text">
                                <span class="num">
                                <span class="red">{{ transactionsFrom }}</span> / <span
                                            class="green">{{ transactionsTo }}</span>
                                    </span>
                        <span class="name">Bisherige Transaktionen mit diesem Nutzer</span>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table width="100%">
                <tr>
                    <td class="counter-text">
                        <span class="num">{{ debts }} €</span>
                        <span class="name">Eigene offene Schulden an {{ interacter }}</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>