<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td class="bg_white email-section">
            <div class="heading-section"
                 style="text-align: center; padding: 0 30px;">
                <h2>Die Fakten</h2>
            </div>
            <table role="presentation" border="0" cellpadding="0" cellspacing="0"
                   width="100%">
                <tr>
                    <td valign="top" width="50%">
                        <table role="presentation" cellspacing="0" cellpadding="0"
                               border="0" width="100%">
                            <tr>
                                <td style="padding-top: 20px; padding-right: 10px;">
                                    <img class="info-area-img" src="{{ email.image('@icons/coins.svg') }}">
                                    <div class="text-tour"
                                         style="text-align: center;">
                                        <h3>Geforderte Summe</h3>
                                        <span class="price">{{ amount }} €</span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-top: 20px; padding-left: 10px;">
                                    <img class="info-area-img" src="{{ email.image('@icons/reason.svg') }}">
                                    <div class="text-tour"
                                         style="text-align: center;">
                                        <h3>Grund</h3>
                                        <span class="price">{{ reason }}</span>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </td>
                    <td valign="top" width="50%">
                        <table role="presentation" cellspacing="0" cellpadding="0"
                               border="0" width="100%">
                            <tr>
                                <td style="padding-top: 20px; padding-right: 10px;">
                                    <img class="info-area-img" src="{{ email.image('@icons/target-person.svg') }}">
                                    <div class="text-tour"
                                         style="text-align: center;">
                                        <h3>{{ interacterVariant }}</h3>
                                        <span class="price">{{ interacter }}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top" width="50%">
                        <table role="presentation" cellspacing="0" cellpadding="0"
                               border="0" width="100%">
                            <tr>
                                <td style="padding-top: 20px; padding-right: 10px;">
                                    <img class="info-area-img" src="{{ email.image('@icons/target-person.svg') }}">
                                    <div class="text-tour"
                                         style="text-align: center;">
                                        <h3>{{ interacterVariant }}</h3>
                                        <span class="price">{{ interacter }}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr><!-- end: tr -->
</table>